<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
          <div
            class ="container-fluid" >
            <div
                class ="row" >
                <div
                    class ="col-sm-12 col-md-7" >
                    <div
                        class ="panel panel-default" >
                       <div
                           class ="panel-body" >
                           <div
                               class ="form-group" >
                               <div
                                   class ="col-sm-offset-2 col-sm-10">
                                   Nome:  {{usuario.nome}} <br> <br>
                                   Email: {{request.user.email}} <br> <br>
                                   Login: {{request.user.username}} <br> <br >
                                   Telefone:  {{usuario.telefone}} <br > <br >
                                   Nascimento:  {{usuario.nascimento}} <br > <br >
                                   Estado Civil: {{usuario.estadoCivil}} <br > <br >
                                   Curso: {{usuario.curso}} <br > <br >
                                   Periodo: {{usuario.periodo}} <br > <br >
                                   CRA: {{usuario.CRA}} <br > <br >
                                   Objetivo: {{usuario.objetivo}} <br > <br >
                                   Formação: {{usuario.formacao}} <br > <br >
                                   Experiência: {{usuario.experiencia}} <br > <br >
                                   Habilidade: {{usuario.habilidade}}
                               </div > <br > <br >
                           </div >
                       </div >
                   </div >
               </div >'
           </div >
          </div >
          </center >

</body>
</html>