{% extends 'ofertas/base.html' %}
{% block title %}Detalhes da Oportunidade{% endblock %}

{% block body %}
    <img src="{{ oferta.imagem }}" height="200"> {{ oferta.descricao }}

    <h1>{{ oferta.titulo }}</h1>
    <h3>Ofertante: {{ criador.nome }}</h3>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    {% if usuario.e_aluno %}
        {{ e_candidato }}
        {% if e_candidato %}
            <a href="{% url 'ofertas:candidatar' oferta.id %}" class="btn btn-default">Remover Candidatura</a>
        {% else %}
            <a href="{% url 'ofertas:candidatar' oferta.id %}" class="btn btn-default">Candidatar-se</a>
        {% endif %}

    {% elif criador.id == usuario.id or request.user.id %}

    <form action="{% url 'ofertas:favorite' oferta.id %}" method="post">
        {% csrf_token %}
        {% for candidato in oferta.candidato_set.all %}
            <input type="radio" id="candidato{{ forloop.counter }}" name="candidato" value="{{ candidato.id }}"/>
            <label for="candidato{{ forloop.counter }}">
                {{ candidato.nome }}<br>
            </label>
            {% if candidato.is_favorite %}
                <img src="http://www.clipartbest.com/cliparts/dcr/MK5/dcrMK5xc9.jpeg" height="16">
            {% endif %}
            &nbsp;Curso: {{ candidato.curso }}
            <br>
        {% endfor %}
        {% if usuario.e_aluno %}
            <input type="submit" value="Escolher" >
        {% endif %}
    </form>
    {% endif %}
{% endblock %}